{{ $baseurl := .Site.BaseURL }}
<div id="topbar">
<div class="wrapper">
	<header>
		<nav class="navbar">
			<ul>
				<li><span><a href="{{ $baseurl }}"><b>Athos Ribeiro</b></a></span></li>
        <li><a href="{{ .Site.BaseURL }}/publication">publications</a></li>
        <li><a href="{{ .Site.BaseURL }}/presentation">presentations</a></li>
        <li><a href="{{ .Site.BaseURL }}/links">links</a></li>
        <li><a href="{{ .Site.BaseURL }}/blog">blog</a></li>
			</ul>
		</nav>
	</header>
</div>
</div>
