<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
<div class="units-row units-padding">		
<div class="unit-40"><!--about-->
<h3><a id="about">about</a></h3>
<figure class="image-left">
<img class="avatar" src="/images/avatar.jpg" height="120" width="120">
</figure>	
<p>Athos Ribeiro, Software Engineer and Graduate Student in the <a href=http://ime.usp.br>Institute of Mathematics and Statistics</a> at <a href=http://usp.br>University of São Paulo</a>, persuing a master degree under the advisory of <a href=http://www.ime.usp.br/~kon>Fabio Kon</a></p>
</div><!--end about-->
<div class="unit-30"><!--contact-->
<h3>where</h3>
<ul class="compact fa-ul">
  <li><i class="fa-li fa fa-university fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a href=http://ccsl.ime.usp.br>CCSL</a>, University of São Paulo, São Paulo - SP, Brazil.</li>
<li><i class="fa-li fa fa-envelope fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a href="mailto:athoscr@ime.usp.br">athoscr@ime.usp.br</a></li>
<li><i class="fa-li fa fa-github fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a href="http://github.com/athos-ribeiro">athos-ribeiro On GitHub</a>.</li>
<li><i class="fa-li fa fa-gitlab fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a href="http://gitlab.com/athos-ribeiro">athos-ribeiro On GitLab</a>.</li>
<li><i class=""></li>
</ul>
</div><!--end contact-->
<div class="unit-30"><!--Subscribe-->
				<h3>subscribe</h3>
				<p>To receive updates from this site, you can
				subscribe to the <a href="{{ .Site.BaseURL }}/index.xml"><i class="fa fa-rss-square" style="color:#b24;"></i>&nbsp;RSS feed</a> of all updates to the site in an RSS feed reader.</p>
				<h3>search</h3>
				<a id="searchsite">
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="www.ime.usp.br/~athoscr"/>
			   <input type="hidden" name="ka" value="Alegreya"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="hidden" name="kt" value="Alegreya Sans"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a>
			</div>
		</div>
	</div>
</div>
